{% extends 'base.html' %}
{% block conteudo %}

<div class = "container">
	<div class="wrapper">
		<form method="post" name="Login_Form" class="form-signin"> 
            {% csrf_token %}      
		    <h3 class="form-signin-heading">Cadastrar novo usuário</h3>
			  <hr class="colorgraph"><br>

			 <p><input type="text" class="form-control" name="username" placeholder="Nome de usuario" required="" autofocus="" /></p> 

			  <input type="password" class="form-control" name="password1" placeholder="Senha" required=""/> 

              <input type="password" class="form-control" name="password2" placeholder="Confirmar senha" required=""/>        		  
			 
			  <p><button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Cadastrar</button></p> 
              <h5 class = "form-signin-heading"><p><a href="{% url 'logar_usuario' %}">Voltar</a></p></h5> 
        
              <p><div class="alert alert-danger" role="alert"></p> 
                {{form_usuario.username.errors}}
                {{form_usuario.password1.errors}}
                {{form_usuario.password2.errors}}
              </div>
		</form>			
	</div>
</div>

    <!-- End Example Code -->
	{% endblock %}